In [1]:
import sys
import yaml
with open('..//secrets.yml', 'r') as file:
    secrets = yaml.safe_load(file)
sys.path.append(secrets['elo_proj_path'])

In [2]:
from player_club_classes import team_elo, Player, Club, Match
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import plotly
import pickle

from team_colors import team_color_dict
team_colors = pd.DataFrame(team_color_dict).T
team_colors.columns = ['Primary', 'Secondary']
team_colors = team_colors.rename_axis('Team').reset_index()

from plotly.validators.scatter.marker import SymbolValidator
raw_symbols = SymbolValidator().values

simple_symbols = [i for i in raw_symbols if str(i).isalpha()]

with open('../../Rugby_ELO/processed_data/playerbase.pickle', 'rb') as handle:
    playerbase = pickle.load(handle)
with open('../../Rugby_ELO/processed_data/matchlist.pickle', 'rb') as handle:
    matchlist = pickle.load(handle)
with open('../../Rugby_ELO/processed_data/teamlist.pickle', 'rb') as handle:
    teamlist = pickle.load(handle)

In [3]:
player_elo_list = []
for player_name, player in playerbase.items():
    player_elo = pd.DataFrame(player.elo_list, columns = [
        'Number', 'Full_Name', 'Team', 'Player', 'Position', 'Tries',
        'Try Assists', 'Conversion Goals', 'Penalty Goals',
        'Drop Goals Converted', 'Points', 'Passes', 'Runs', 'Meters Run',
        'Clean Breaks', 'Defenders Beaten', 'Offload', 'Turnovers Conceded',
        'Tackles', 'Missed Tackles', 'Lineouts Won', 'Penalties Conceded',
        'Yellow Cards', 'Red Cards', 'espn_id_num', 'Competition', 'Date',
        'Home Team', 'Home Score', 'Away Team', 'Away Score', 'Minutes',
        'Position_Number', 'gameid', 'Unicode_ID', 'start_elo', 'end_elo'
       ])
    player_elo['Full Name'] = player_name[0]
    player_elo['Unicode_ID'] = player_name[1]
    player_elo_list.append(player_elo)

player_elo = pd.concat(player_elo_list).reset_index(drop=True)
player_elo = pd.merge(player_elo, team_colors, on = 'Team', how = 'left')
player_elo['elo_change'] = player_elo.end_elo - player_elo.start_elo
player_elo.Date = pd.to_datetime(player_elo.Date)

player_elo['week_num'] = player_elo['Date'].dt.isocalendar().week
player_elo['month'] = player_elo['Date'].dt.month
player_elo['year'] = player_elo['Date'].dt.year

In [103]:
def percentile(group):
    sz = group.size-1
    ranks = group.rank(method='max')
    return np.floor(100.0*(ranks-1)/sz)

starters = player_elo[player_elo.Position != 'R']
starters = starters.dropna(subset=['Position'])
current_players = starters[starters.groupby(['Full Name'])['Date'].transform(max) == starters['Date']]
current_players['percentile'] = np.floor(current_players.groupby('Position')['end_elo'].apply(percentile))
current_players = current_players[['Full_Name', 'Unicode_ID', 'percentile']]
current_players

C:\Users\Graeham\AppData\Local\Temp\ipykernel_9368\1572876672.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_players['percentile'] = np.floor(current_players.groupby('Position')['end_elo'].apply(percentile))

,Full_Name,Unicode_ID,percentile
264,Nick Abendanon,55485151,97.0
401,Mike Tindall,49485155,81.0
550,Anthony Allen,55545151,82.0
568,James Bailey,53485349,38.0
800,Ryan Lamb,55515350,48.0
...,...,...,...
503971,Nahuel Milan,1101119510111511211095105100327897104117101108...,6.0
503972,Geronimo Prisciantelli,1101119510111511211095105100327110111411111010...,6.0
503976,Konstantine Mikautadze,1101119510111511211095105100327511111011511697...,11.0
503977,Aka Tabutsadze,1101119510111511211095105100326510797328497981...,13.0
503979,Alexander Todua,1101119510111511211095105100326510810112097110...,13.0

In [79]:
match_list = []
for _, match in matchlist.items():
    match_list.append({key:val for key, val in vars(match).items()})

In [80]:
future_games = [x for x in match_list if 'point_diff' not in x.keys()]

In [82]:
future_game

{'home_team_name': 'Japan',
 'away_team_name': 'France',
 'home_team': array([[15.0, 'Ryohei Yamanaka', 'Japan', 'R Yamanaka', 'FB', 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, '22646', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5050545254',
         105.64167761167195],
        [23.0, 'Shane Gates', 'Japan', 'S Gates', 'R', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '18971', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '4956575549',
         83.19163501578386],
        [14.0, 'Gerhard van den Heever', 'Japan', 'G Heever', 'W', 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, '10205',
         'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '4948504853',
         97.95884338299004],
        [13.0, 'Dylan Riley', 'Japan', 'D Riley', 'C', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '27652', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5055545350',
         81.07852669465605],
        [12.0, 'Shogo Nakano', 'Japan', 'S Nakano', 'C', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '36750', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5154555348',
         77.40797857461139],
        [11.0, 'Siosaia Fifita', 'Japan', 'S Fifita', 'W', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '30973', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5148575551',
         74.32603142132378],
        [10.0, 'Seungsin Lee', 'Japan', 'S Lee', 'FH', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '37841', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5155565249',
         78.59169325684076],
        [1.0, 'Keita Inagaki', 'Japan', 'K Inagaki', 'P', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '21191', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5049495749',
         95.69394757632081],
        [2.0, 'Atsushi Sakate', 'Japan', 'A Sakate', 'H', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '24939', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5052575157',
         103.01603442843616],
        [3.0, 'Asaeli Ai Valu', 'Japan', 'A Valu', 'P', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '26232', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5054505150',
         109.90105424495869],
        [4.0, 'Warner Dearns', 'Japan', 'W Dearns', 'L', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '40399', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5248515757',
         81.63240058462642],
        [9.0, 'Naoto Saito', 'Japan', 'N Saito', 'SH', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '25158', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5053495356',
         77.31796645578505],
        [6.0, 'Michael Leitch', 'Japan', 'M Leitch', 'FL', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '11306', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '4949514854',
         111.57542783113824],
        [5.0, 'Sanaila Waqa', 'Japan', 'S Waqa', 'L', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '23564', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5051535452',
         98.57269466612752],
        [21.0, 'Kaito Shigeno', 'Japan', 'K Shigeno', 'R', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '23590', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5051535748',
         99.66460704682703],
        [20.0, 'Tevita Tatafu', 'Japan', 'T Tatafu', 'R', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '23427', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5051525055',
         104.82151131414123],
        [19.0, 'Takayasu Tsuji', 'Japan', 'T Tsuji', 'R', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 'no_espn_id Takayasu Tsuji',
         'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan',
         '110111951011151121109510510032849710797121971151173284115117106105',
         80],
        [18.0, 'Yusuke Kizu', 'Japan', 'Y Kizu', 'R', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '32375', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5150515553',
         81.98869048302475],
        [22.0, 'Yu Tamura', 'Japan', 'Y Tamura', 'R', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '20577', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5048535555',
         105.3519572472064],
        [16.0, 'Shota Horie', 'Japan', 'S Horie', 'R', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '11304', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '4949514852',
         100.6050326425365],
        [8.0, 'Jack Cornelsen', 'Japan', 'J Cornelsen', 'N8', 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, '23697', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5051545755',
         100.2596396647748],
        [7.0, 'Ben Gunter', 'Japan', 'B Gunter', 'FL', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '26283', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5054505651',
         74.38230285600639],
        [17.0, 'Yukio Morikawa', 'Japan', 'Y Morikawa', 'R', 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, '26473', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5054525551',
         79.42997108014983]], dtype=object),
 'away_team': array([[5.0, 'Thomas Jolmes', 'France', 'T Jolmes', 'L', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '24932', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5052575150',
         93.85629795108001],
        [12.0, 'Yoram Moefana', 'France', 'Y Moefana', 'C', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '32690', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5150545748',
         83.9963262426549],
        [11.0, 'Matthis Lebel', 'France', 'M Lebel', 'W', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '29829', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5057565057',
         88.16375239595362],
        [10.0, 'Matthieu Jalibert', 'France', 'M Jalibert', 'FH', 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, '28275',
         'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5056505553',
         110.78890711005187],
        [9.0, 'Maxime Lucu', 'France', 'M Lucu', 'SH', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '31025', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5149485053',
         88.44091408501674],
        [1.0, 'Jean-Baptiste Gros', 'France', 'J Gros', 'P', 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, '29782', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5057555650',
         114.83532589671704],
        [2.0, 'Peato Mauvaka', 'France', 'P Mauvaka', 'H', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '24578', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5052535556',
         108.29369102701312],
        [3.0, 'Demba Bamba', 'France', 'D Bamba', 'P', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '29774', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5057555552',
         106.96352649684461],
        [4.0, 'Thibaud Flament', 'France', 'T Flament', 'L', 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, '35510', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5153534948',
         91.3623264264946],
        [6.0, 'Dylan Cretin', 'France', 'D Cretin', 'FL', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '27021', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5055485049',
         89.51521237703834],
        [23.0, 'Antoine Hastoy', 'France', 'A Hastoy', 'R', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '25076', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5053485554',
         94.7027765276553],
        [8.0, 'Yoan Tanga', 'France', 'Y Tanga', 'N8', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '28883', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5056565651',
         103.3667351006282],
        [16.0, 'Pierre Bourgarit', 'France', 'P Bourgarit', 'R', 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, '24593', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5052535751',
         104.39149278114722],
        [17.0, 'Dany Priso', 'France', 'D Priso', 'R', 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, '22589', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5050535657',
         104.0412816611192],
        [18.0, 'Sipili Falatea', 'France', 'S Falatea', 'R', 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, '29706', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5057554854',
         102.63746135188764],
        [19.0, 'Thomas Lavault', 'France', 'T Lavault', 'R', 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, '29828', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5057565056',
         86.74066589502462],
        [20.0, 'Ibrahim Diallo', 'France', 'I Diallo', 'R', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '28351', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5056515349',
         76.63192991732953],
        [21.0, 'Sekou Macalou', 'France', 'S Macalou', 'R', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '22817', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5050564955',
         114.73499359754103],
        [22.0, 'Baptiste Couilloud', 'France', 'B Couilloud', 'R', 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, '24594',
         'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5052535752',
         118.94480792003066],
        [13.0, 'Virimi Vakatawa', 'France', 'V Vakatawa', 'C', 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, '18336', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '4956515154',
         117.64209387795907],
        [7.0, 'Charles Ollivon', 'France', 'C Ollivon', 'FL', 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, '20582', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5048535650',
         124.00652076066666],
        [14.0, 'Damian Penaud', 'France', 'D Penaud', 'W', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '23276', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5051505554',
         106.63333097405196],
        [15.0, 'Max Spring', 'France', 'M Spring', 'FB', 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
         0.0, 0.0, 0.0, '37224', 'International Test Match 2022',
         Timestamp('2022-07-08 14:50:00'), 'Japan', nan, 'France', nan,
         nan, nan, '2:50 PM, July 8, 2022 @ Japan', '5155505052',
         83.41486279370484]], dtype=object),
 'name': 'Japan V France on 2022/07/08',
 'date': Timestamp('2022-07-08 14:50:00'),
 'competition': 'International Test Match 2022',
 'GLOBAL_home_advantage': 0,
 'GLOBAL_score_factor': 10,
 'GLOBAL_k': 20,
 'GLOBAL_mov_score_add': 1,
 'GLOBAL_mov_score_mult': 2.2,
 'GLOBAL_mov_elo_add': 2.2,
 'GLOBAL_mov_elo_mult': 0.001,
 'lineup_home_elo': 1368.4391885741272,
 'lineup_away_elo': 1510.230991434897,
 'lineup_elo_diff': -141.79180286076985,
 'lineup_spread': -14.179180286076985,
 'lineup_prediction': 0.41909546650394025}

In [104]:
future_game = future_games[0]

home_team = pd.DataFrame(future_game['home_team'][:, [0,1,-2, -1]], columns = ['Number', 'Full_Name', 'Unicode_ID', 'elo'])
home_team = home_team.merge(current_players, on=['Full_Name', 'Unicode_ID'])
home_team = home_team.drop(['Unicode_ID'], axis = 1)
away_team = pd.DataFrame(future_game['away_team'][:, [0,1,-2, -1]], columns = ['Number', 'Full_Name', 'Unicode_ID', 'elo'])
away_team = away_team.merge(current_players, on=['Full_Name', 'Unicode_ID'])
away_team = away_team.drop(['Unicode_ID'], axis = 1)

home_team.columns = ['Number', 'Home Name', 'Home elo', 'Home Percentile']
away_team.columns = ['Number', 'Away Name', 'Away elo', 'Away Percentile']

all_players = pd.merge(home_team, away_team)
all_players = all_players.sort_values('Number')
all_players

,Number,Home Name,Home elo,Home Percentile,Away Name,Away elo,Away Percentile
7,1.0,Keita Inagaki,95.693948,34.0,Jean-Baptiste Gros,114.835326,96.0
8,2.0,Atsushi Sakate,103.016034,79.0,Peato Mauvaka,108.293691,92.0
9,3.0,Asaeli Ai Valu,109.901054,93.0,Demba Bamba,106.963526,88.0
10,4.0,Warner Dearns,81.632401,13.0,Thibaud Flament,91.362326,25.0
13,5.0,Sanaila Waqa,98.572695,56.0,Thomas Jolmes,93.856298,32.0
12,6.0,Michael Leitch,111.575428,94.0,Dylan Cretin,89.515212,24.0
20,7.0,Ben Gunter,74.382303,1.0,Charles Ollivon,124.006521,99.0
19,8.0,Jack Cornelsen,100.25964,68.0,Yoan Tanga,103.366735,76.0
11,9.0,Naoto Saito,77.317966,2.0,Maxime Lucu,88.440914,19.0
6,10.0,Seungsin Lee,78.591693,6.0,Matthieu Jalibert,110.788907,92.0
5,11.0,Siosaia Fifita,74.326031,1.0,Matthis Lebel,88.163752,23.0
4,12.0,Shogo Nakano,77.407979,3.0,Yoram Moefana,83.996326,17.0
3,13.0,Dylan Riley,81.078527,13.0,Virimi Vakatawa,117.642094,97.0
2,14.0,Gerhard van den Heever,97.958843,54.0,Damian Penaud,106.633331,87.0
0,15.0,Ryohei Yamanaka,105.641678,85.0,Max Spring,83.414863,17.0
18,16.0,Shota Horie,100.605033,66.0,Pierre Bourgarit,104.391493,82.0
16,18.0,Yusuke Kizu,81.98869,12.0,Sipili Falatea,102.637461,76.0
15,20.0,Tevita Tatafu,104.821511,79.0,Ibrahim Diallo,76.63193,2.0
14,21.0,Kaito Shigeno,99.664607,65.0,Sekou Macalou,114.734994,91.0
17,22.0,Yu Tamura,105.351957,86.0,Baptiste Couilloud,118.944808,97.0
1,23.0,Shane Gates,83.191635,17.0,Antoine Hastoy,94.702777,32.0

In [95]:
current_players.head()

          Full_Name Unicode_ID  percentile
264  Nick Abendanon   55485151        97.0
401    Mike Tindall   49485155        81.0
550   Anthony Allen   55545151        82.0
568    James Bailey   53485349        38.0
800       Ryan Lamb   55515350        48.0

In [6]:
month = match_df[(match_df.year == 2022) & (match_df.month == 7)]
closest_games = month.sort_values('lineup_spread',  key=abs).head()

sorted_pred_accuracy = month.assign(tmp=month["point_diff"] - month["lineup_spread"]).sort_values(by="tmp", key=abs)#.drop(columns="tmp")
best_preds = sorted_pred_accuracy.head()
worst_preds = sorted_pred_accuracy.tail()

biggest_upsets = month[(month.lineup_spread * month.point_diff) < 0].assign(tmp=month["point_diff"] - month["lineup_spread"]).sort_values(by="tmp", key=abs, ascending=False).drop(columns="tmp").head()
biggest_covers = month[((month.lineup_spread * month.point_diff) > 0)].assign(tmp=month["point_diff"] - month["lineup_spread"]).sort_values(by="tmp", key=abs, ascending=False)#.drop(columns="tmp").head()

In [7]:
# CHANGE
player_month = player_elo[(player_elo.year == 2022) & (player_elo.month == 5)]
oneplayer = player_month[(player_month.Unicode_ID == '5155544848') & (player_month['Full Name'] == 'Caleb Delany')].sort_values('Date')
oneplayer.iloc[-1].end_elo - oneplayer.iloc[0].start_elo

-2.554117441069806

In [11]:
def elo_change(df):
    return df.iloc[-1].end_elo, df.iloc[0].start_elo, df.iloc[-1].end_elo - df.iloc[0].start_elo

elo_changes = player_month.sort_values('Date').groupby(['Unicode_ID', 'Full Name', 'Team']).apply(elo_change).reset_index()
elo_changes[['end_elo', 'start_elo', 'elo_change']] = pd.DataFrame(elo_changes[0].tolist(), index=elo_changes.index)
elo_changes.sort_values('elo_change')

,Unicode_ID,Full Name,Team,0,end_elo,start_elo,elo_change
576,5051515156,James Blackwell,Hurricanes,"(100.88391371265058, 106.42990302317858, -5.54...",100.883914,106.429903,-5.545989
826,5055485550,Salesi Rayasi,Hurricanes,"(110.70188334521939, 115.67822631062886, -4.97...",110.701883,115.678226,-4.976343
1070,5149525654,Quinn Tupaea,Chiefs,"(113.26707089934938, 118.08496318931884, -4.81...",113.267071,118.084963,-4.817892
267,5048485452,Ardie Savea,Hurricanes,"(118.33886733853684, 122.95562106235826, -4.61...",118.338867,122.955621,-4.616754
589,5051515748,Josh Ioane,Chiefs,"(98.22976447566921, 102.77928260508381, -4.549...",98.229764,102.779283,-4.549518
...,...,...,...,...,...,...,...
406,5049535052,Mattia Bellini,Benetton Treviso,"(96.79422627952788, 92.30762615721996, 4.48660...",96.794226,92.307626,4.486600
745,5053505254,Rhyno Smith,Benetton Treviso,"(99.09602275738854, 94.60942263508062, 4.48660...",99.096023,94.609423,4.486600
244,4957555455,Juan Ignacio Brex,Benetton Treviso,"(98.82188475913395, 94.33528463682603, 4.48660...",98.821885,94.335285,4.486600
408,5049535155,Federico Ruzza,Benetton Treviso,"(102.4315904715746, 97.94499034926667, 4.48660...",102.431590,97.944990,4.486600
1333,5156565456,Vinaya Habosi,Fijian Drua,"(98.67315216377675, 94.10948489797238, 4.56366...",98.673152,94.109485,4.563667